<div class="mainDiv">
  <div class="cardStyle">
    <form [formGroup]="passwordForm" (ngSubmit)="basicProperty()">
      
      <img src="" id="signupLogo"/>
      
      <h2 class="formTitle">
        Set/Reset password
      </h2>
      
    <div class="inputDiv">
      <label class="inputLabel" for="password">New Password</label>
      <input type="password" formControlName="password" id="password" name="password" required>
      <div *ngIf="submitted && passwordForm.get('password')?.errors" class="alert alert-danger">
       
        <div *ngIf="passwordForm.get('password')?.errors &&
        passwordForm.get('password')?.hasError('required')">Password is required</div>
      </div>
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirm Password</label>
      <input type="password"  formControlName="confirmPassword" id="confirmPassword" name="confirmPassword">
      <div *ngIf="submitted && passwordForm.get('confirmPassword')?.errors" class="alert alert-danger">
        <div *ngIf="passwordForm.get('confirmPassword')?.errors &&
        passwordForm.get('confirmPassword')?.hasError('required')">Password is required</div>
        <div *ngIf="passwordForm.get('confirmPassword')?.errors && passwordForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">Passsword and
          Confirm Password didn't match. </div>
      </div>
    </div>
    <div class="inputDiv">
    <div class="buttonWrapper">
   
      <button type="button" class="closeBtn pure-button pure-button-secondary">
        <span>Cancel</span>
      </button>
      <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary">
       
        <span>Save</span>
      </button>
    </div>
     
    </div>
      
  </form>
  </div>
</div>