<div class="mainDiv">
  <div class="cardStyle">

    <form [formGroup]="passwordForm" (ngSubmit)="basicProperty()">

      <div class="row">
        <div class="col-lg-12 ml-auto">
          <div class="d-flex align-items-center mb-3">
            <div class="heading-card" style="margin-left:10px;">
              <a href="/settings" class="backward-link">
                  <img src="assets/img/icons/r-arrow.svg" alt="">
              </a>
              <h3>Set/Reset password</h3>
              </div>
        </div>
      </div>
      </div>

      
      <!-- <img src="" id="signupLogo"/>
      
      <h2 class="formTitle">
        Set/Reset password
      </h2> -->
      
    <div class="inputDiv">
      <label class="inputLabel" for="password">New Password</label>
      <input type="password" formControlName="password" id="password" name="password" required>
      <div *ngIf="submitted && passwordForm.get('password')?.errors" class="alert alert-danger">
       
        <div *ngIf="passwordForm.get('password')?.errors &&
        passwordForm.get('password')?.hasError('required')">Password is required</div>
      </div>
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirm Password</label>
      <input type="password"  formControlName="confirmPassword" id="confirmPassword" name="confirmPassword">
      <div *ngIf="submitted && passwordForm.get('confirmPassword')?.errors" class="alert alert-danger">
        <div *ngIf="passwordForm.get('confirmPassword')?.errors &&
        passwordForm.get('confirmPassword')?.hasError('required')">Password is required</div>
        <div *ngIf="passwordForm.get('confirmPassword')?.errors && passwordForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">Passsword and
          Confirm Password didn't match. </div>
      </div>
    </div>
    <div class="inputDiv">
    <div class="buttonWrapper">
   
      <button type="button" class="closeBtn pure-button pure-button-secondary" (click)="onClickCancel()">
        <span>Cancel</span>
      </button>
      <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary">
       
        <span>Save</span>
      </button>
    </div>
     
    </div>
      
  </form>
  </div>
</div>