<div class="container-fluid">
    <div class="section-data">
      <div class="row">
        <div class="col-lg-9 ml-auto">
          <div class="d-flex align-items-center mb-3">
            <div class="heading-card">
              <a href="/settings" class="backward-link">
                <img src="assets/img/icons/r-arrow.svg" alt="" />
              </a>
              <h3>Manage Partner</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-3 ml-auto">
          <div class="d-flex align-items-center mb-3">
            <input
              type="text"
              placeholder="search"
              [(ngModel)]="searchText"
              class="form-control mr-1"
            />
  
            <a
              class="filter-wrap"
              href=""
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <img src="assets/img/icons/filter.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
  
      <div class="row" *ngIf="!isLoading" style="justify-content: space-between">
        <div class="col-lg-3 card-wrapper">
          <mat-card class="card">
            <mat-card-content
              ><span class="content-wrapper"
                ><mat-icon class="icon">home</mat-icon>
                <span class="text">Total Partner</span
                ><span class="count"> {{ partnerList.length }} </span>
              </span></mat-card-content
            >
          </mat-card>
        </div>
  
        <!-- <div class="add-button-container">
          <div class="add-button-round">
            <button mat-button (click)="onClickAddButton()">
              <mat-icon style="color: white">add</mat-icon>
            </button>
          </div>
        </div> -->
      </div>
  
      <div class="row spinner-wrapper" *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
  
      <div class="table-wrap" *ngIf="!isLoading">
        <table style="color: black" class="table">
          <thead>
            <tr role="row">
              <th>Partner Name</th>
              <th>Property Name</th>
              <th>Property Details</th>
              <th>Property Status</th>              
              <th>Property Location</th>
              <th>Website</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of partnerList
                  | paginate : { itemsPerPage: 10, currentPage: p }
                  | filter : searchText;
                let i = index
              "
              (click)="openDialog(item)"
            >
              <td>{{ item.Partner_name }}</td>
              <td>{{ item.Property_Name }}</td>
              <td>{{ item.Property_Details }}</td>
              <td>{{ item.Property_Status }}</td>
              <td>{{ item.property_location }}</td>
              <td>{{ item.website }}</td>
            </tr>
          </tbody>
        </table>
  
        <div class="row" *ngIf="partnerList.length > 10">
          <div class="col-12">
            <pagination-controls
              (pageChange)="p = $event"
              class="float-right"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  