<div mat-dialog-title class="dialog-title">
  <h3>Guest Details</h3>
  <button mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider class="divider"></mat-divider>

<div mat-dialog-content>
  <div class="dialog-wrapper">
    <div class="product-det">
      <img
        class="profile"
        src="{{
                    'https://ui-avatars.com/api/?background=random&name= ' +
                      data.Guest_name
                }}"
      />
    </div>
    <div class="basic-wrapper">
      <span class="basic-info"
        ><b>{{data.Guest_name}}</b>
        <span [ngClass]="data.Status == 'Active' ? 'active' : 'inactive'"
          >{{ data.Status }}</span
        ></span
      >
      <span class="basic-info"
        ><mat-icon class="phone-icon"> phone</mat-icon
        >{{data.phone_number}}</span
      >
      <span class="basic-info"
        ><mat-icon class="location-icon"> location_on</mat-icon
        >{{data.Permanent_Address}}</span
      >
    </div>
    <div>
      <span class="approve-text">Approve/Reject :</span>
      <mat-slide-toggle color="primary" checked="data.Status == 'Active'">
      </mat-slide-toggle>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div>
    <span class="info-header"
      ><mat-icon>person</mat-icon> Personal Details</span
    >
    <div class="info">
      <div class="info-wrapper">
        <span class="info-heading">Occupation</span>
        <span class="info-content"> {{data.occupation}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Father Name</span>
        <span class="info-content"> {{data.father_name}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Mother Name</span>
        <span class="info-content"> {{data.mother_name}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Emergency Contact</span>
        <span class="info-content"> {{data.emergency_contact_no}} </span>
      </div>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>
  <div>
    <span class="info-header"><mat-icon>home</mat-icon> House Details</span>
    <div class="info">
      <div class="info-wrapper">
        <span class="info-heading">Flat No</span>
        <span class="info-content"> {{data.flat_number}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Floor No</span>
        <span class="info-content"> {{data.father_name}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Flat Type</span>
        <span class="info-content"> {{data.Flat_type}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Flat Size</span>
        <span class="info-content"> {{data.flat_size}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Advance</span>
        <span class="info-content"> &#x20B9; {{data.advance_amount}} </span>
      </div>
      <div class="info-wrapper">
        <span class="info-heading">Rent</span>
        <span class="info-content"> &#x20B9; {{data.Monthly_Rent}} </span>
      </div>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
</div>
