<div fxFlex="100%" style="width: 100%">
  <form
    [formGroup]="basicPropertyFormGroup"
    (ngSubmit)="basicProperty()"
    #documentEditForm="ngForm"
    class="form"
  >
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <!-- <mat-label>Property Name</mat-label> -->
          <input
            matInput
            formControlName="propertyName"
            placeholder="Property Name"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Area</mat-label>
          <mat-select formControlName="area">
            <ng-container *ngFor="let item of areaData">
              <mat-option [value]="item.area_id">{{
                item.area_name
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" placeholder="Email Address" />
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Address"
            #mainMsg
            maxlength="200"
            formControlName="address"
          ></textarea>
          <mat-hint class="f-13">
            ({{ mainMsg.value.length }} /200 max)
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrapper">
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Property Details</mat-label>
          <textarea
            matInput
            placeholder="Property Details"
            #propertydet
            maxlength="200"
            formControlName="propertyDetails"
          ></textarea>
          <mat-hint class="f-13">
            ({{ propertydet.value.length }} /200 max)
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
