<div class="container-fluid">
  <div class="section-data">
    <div class="row">
      <div class="col-lg-9">
        <div class="d-flex align-items-center mb-3">
          <div class="heading-card">
            <a href="/settings" class="backward-link">
              <img src="assets/img/icons/r-arrow.svg" alt="" />
            </a>
            <h3>Add Basic Property</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row spinner-wrapper" *ngIf="isLoading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div> -->

    <div class="row">
      <form
        [formGroup]="basicPropertyFormGroup"
        (ngSubmit)="basicProperty()"
        #documentEditForm="ngForm"
        class="form-wrap"
      >
        <div class="form">
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <!-- <mat-label>Property Name</mat-label> -->
              <div class="input-wrapper">
                <span class="label">Property Name :</span>
                <input
                  class="textfield"
                  matInput
                  formControlName="propertyName"
                  placeholder=""
                />
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <div class="input-wrapper">
                <span class="label">Area :</span>
                <mat-select class="select" formControlName="area">
                  <ng-container *ngFor="let item of areaData">
                    <mat-option [value]="item.area_id">{{
                      item.area_name
                    }}</mat-option>
                  </ng-container>
                </mat-select>
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <div class="input-wrapper">
                <span class="label">Phone Number :</span>
                <input
                  class="textfield"
                  matInput
                  formControlName="phoneNumber"
                  placeholder=""
                />
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <div class="input-wrapper">
                <span class="label">Email Address :</span>
                <input
                  class="textfield"
                  matInput
                  formControlName="email"
                  placeholder=""
                />
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <div class="input-wrapper">
                <span class="label">Address :</span>
                <textarea
                  matInput
                  placeholder=""
                  #mainMsg
                  maxlength="200"
                  formControlName="address"
                ></textarea>
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="form-wrapper">
            <div
              fxFlex="100%"
              fxFlex.lg="100%"
              fxFlex.md="100%"
              fxFlex.sm="100%"
              fxFlex.xs="100%"
            >
              <!-- <mat-form-field appearance="outline" fxFlex="100%"> -->
              <div class="input-wrapper">
                <span class="label">Property Details :</span>
                <textarea
                  matInput
                  placeholder=""
                  #propertydet
                  maxlength="200"
                  formControlName="propertyDetails"
                ></textarea>
              </div>

              <!-- </mat-form-field> -->
            </div>
          </div>
        </div>

        <input class="submit" type="submit" value="submit" />
      </form>
    </div>
  </div>
</div>
