.mat-form-field {
  width: 500px !important;
}
.form-wrapper {
  padding: 10px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  border: 1px solid #ccc;
}
