<div fxFlex="100%" width="100%">
  <form
    [formGroup]="singleOccupancyFormGroup"
    (ngSubmit)="basicProperty()"
    class="form"
    #documentEditForm="ngForm"
  >
    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Total Floors</mat-label>
          <input
            type="number"
            class="example-right-align"
            matInput
            formControlName="totalFloors"
            placeholder="Total Floors"
          />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Room Size</mat-label>
          <mat-select formControlName="flatType">
            <mat-option>Choose Area</mat-option>
            <ng-container *ngFor="let item of flatTypeData">
              <mat-option [value]="item.flat_type">{{
                item.flat_type
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div
        fxFlex="70%"
        fxFlex.lg="70%"
        fxFlex.md="70%"
        fxFlex.sm="70%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Dimension</mat-label>
          <input
            matInput
            formControlName="dimension"
            placeholder="Dimension"
            value=""
          />
        </mat-form-field>
      </div>

      <div
        fxFlex="30%"
        fxFlex.lg="30%"
        fxFlex.md="30%"
        fxFlex.sm="30%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Unit</mat-label>

          <input
            matInput
            [(ngModel)]="unit"
            value="Sqft"
            name="name"
            disabled
            placeholder="Sqft"
          />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Choose The Floor</mat-label>
          <mat-select formControlName="chooseFloor">
            <mat-option>Choose Floor</mat-option>
            <ng-container *ngFor="let item of floorValues">
              <mat-option [value]="item">{{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>No of Rooms</mat-label>
          <input
            formControlName="noOfRooms"
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
          />
        </mat-form-field>
      </div>
    </div>

    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-label class="radioLabel">Room Number</mat-label>
        <section class="example-section">
          <div class="row">
            <ng-container *ngFor="let item of roomValues">
              <div class="col-md-6">
                <mat-checkbox
                  (change)="onChangeRoomCountForm($event)"
                  class="example-margin"
                >
                <input
                style="height: 18px; width: 80px; margin-left: 10px"
                [value]="item"
                (change)="onChangeRoomValues($event, i)"
              /></mat-checkbox
                >
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
    
    <mat-card-header>
      <mat-card-subtitle>Facility Available</mat-card-subtitle>
    </mat-card-header>
    <div class="row">
      <ng-container *ngFor="let item of roomFacilties">
        <div class="col-md-4">
          <mat-checkbox
            (change)="onChangeFacility($event)"
            [value]="item.facility_id"
            >{{ item.facility_name }}</mat-checkbox
          >
        </div>
      </ng-container>
    </div>

    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field fxFlex="100%">
          <mat-toolbar>
            <input matInput [value]="'Select Images'" />
          </mat-toolbar>
          <input
            type="file"
            id="file"
            name="fileInput"
            formControlName="flatImage"
            accept="image/*"
            multiple
            (change)="onSelectFile($event)"
          />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div
        fxFlex="100%"
        fxFlex.lg="100%"
        fxFlex.md="100%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
      >
        <mat-form-field fxFlex="100%">
          <mat-toolbar>
            <input matInput [value]="'Select Video'" />
          </mat-toolbar>
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            formControlName="flatVideo"
            accept="image/*"
            multiple
          />
        </mat-form-field>
      </div>
    </div>
    <mat-card-header>
      <mat-card-subtitle>Select Property Type Available</mat-card-subtitle>
    </mat-card-header>
    <div>
      <div class="row">
        <ng-container *ngFor="let item of occupancyData">
          <div class="col-md-4">
            <mat-checkbox
              (change)="onChangeOccupancy($event)"
              [value]="item.category_name"
              >{{ item.category_name }}</mat-checkbox
            >
          </div>
        </ng-container>
      </div>
    </div>
    
  </form>
</div>
