<div class="container-fluid">
    <div class="section-data bg-transparent">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="property-settings">
                    <div class="property-heading-card">
                        <a href="/settings" class="backward-link">
                            <img src="assets/img/icons/r-arrow.svg" alt="">
                        </a>
                        <h3>Property Settings</h3>
                    </div>
                    <div class="content-cards">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div> Property Facilities</div>
                                        <img class="d-arrow" src="assets/img/icons/d-arrow.svg" alt="">
                                    </button>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="property-settings-content">
                                            <div class="selected-property">
                                                <ng-container *ngFor="let item of propertyFacility">
                                                    <a class="selected-property-list close-icon" (click)="removePropertyFacility(item)">
                                                        <div class="selected-property-text">{{item}}</div>
                                                        <img src="assets/img/icons/close.svg" alt="">
                                                    </a>
                                                </ng-container>
                                               
                                           </div>
                                          
                                          <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="facility" placeholder="Enter Property Facilities" aria-label="Search" aria-describedby="basic-addon2" />
                                            <!-- <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" (click)="addPropertyFacility(facility)"> 
                                                    Add
                                              
                                                </button>
                                            </div> -->
                                        </div>

                                            <div class="mt-4 text-md-right">
                                                <button type="submit" class="btn btn-light btn-sm mr-2 p-settings-btn">Close</button>
                                                <input type="submit" value="Add Property Facilities" class="btn btn-primary btn-sm p-settings-btn" (click)="addPropertyFacility()">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div> Property Type</div>
                                        <img class="d-arrow" src="assets/img/icons/d-arrow.svg" alt="">
                                    </button>

                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="property-settings-content">
                                            <div class="selected-property">
                                                <ng-container *ngFor="let item of propertyType">
                                                    <a class="selected-property-list close-icon" (click)="removePropertyType(item)">
                                                        <div class="selected-property-text">{{item}}</div>
                                                        <img src="assets/img/icons/close.svg" alt="">
                                                    </a>
                                                </ng-container>
                                               
                                           </div>
                                          
                                          <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="type" placeholder="Enter Property Type" aria-label="Search" aria-describedby="basic-addon2" />
                                            <!-- <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" (click)="addPropertyType(type)"> 
                                                    Add
                                               
                                                </button>
                                            </div> -->
                                        </div>

                                            <div class="mt-4 text-md-right">
                                                <button type="submit" class="btn btn-light btn-sm mr-2 p-settings-btn">Close</button>
                                                <input type="submit" value="Add Property Type" class="btn btn-primary btn-sm p-settings-btn" (click)="addPropertyType()">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">

                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <div> Facility Available</div>
                                        <img class="d-arrow" src="assets/img/icons/d-arrow.svg" alt="">
                                    </button>

                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="property-settings-content">
                                            <div class="selected-property">
                                                <ng-container *ngFor="let item of availableFacility">
                                                    <a class="selected-property-list close-icon" (click)="removeAvailableacility(item)">
                                                        <div class="selected-property-text">{{item}}</div>
                                                        <img src="assets/img/icons/close.svg" alt="">
                                                    </a>
                                                </ng-container>
                                               
                                           </div>
                                          
                                          <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="availFacility" placeholder="Enter Available Facilities" aria-label="Search" aria-describedby="basic-addon2" />
                                                <!-- <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button" (click)="addAvailableFacility(availFacility)"> 
                                                        Add
                                                
                                                    </button>
                                                </div> -->
                                        </div>

                                            <div class="mt-4 text-md-right">
                                                <button type="submit" class="btn btn-light btn-sm mr-2 p-settings-btn">Close</button>
                                                <input type="submit" value="Add Available Facilities" class="btn btn-primary btn-sm p-settings-btn" (click)="addAvailableFacility()">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>