<div class="container-fluid">
    <div class="section-data bg-transparent">
        <div class="row">
            <div class="col-lg-3">
                <div class="settings-list">
                    <img class="settings-icon" src="assets/img/icons/icon-5.svg" alt="">
                    <h4 class="settings-list-title">Update Password</h4>
                    <a href="/reset-password" class="settings-list-link">
                        <img src="assets/img/icons/r-arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="settings-list">
                    <img class="settings-icon" src="assets/img/icons/icon-4.svg" alt="">
                    <h4 class="settings-list-title">Property Setting</h4>
                    <a href="/property-settings" class="settings-list-link">
                        <img src="assets/img/icons/r-arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="settings-list">
                    <img class="settings-icon" src="assets/img/icons/icon-1.svg" alt="">
                    <h4 class="settings-list-title">Role </h4>
                    <a href="" class="settings-list-link">
                        <img src="assets/img/icons/r-arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="settings-list">
                    <img class="settings-icon" src="assets/img/icons/icon-3.svg" alt="">
                    <h4 class="settings-list-title">Users</h4>
                    <a href="/property-user" class="settings-list-link">
                        <img src="assets/img/icons/r-arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="settings-list">
                    <img class="settings-icon" src="assets/img/icons/icon-2.svg" alt="">
                    <h4 class="settings-list-title">Permissions</h4>
                    <a href="" class="settings-list-link">
                        <img src="assets/img/icons/r-arrow.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>