.profile {
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.name-wrapper {
    display: flex;
    align-items: center;
}

.table-wrap th {
    font-weight: 700;
    max-height: 700px;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}

.active {
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    color: green;
    background-color: #b8ffb2;
}

.inactive {
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    color: red;
    background-color: #ffcfcf;
}

.card-wrapper {
    margin-bottom: 30px;
    max-width: 270px;
}

.card {
    box-shadow: none;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.content-wrapper .icon {
    font-size: 30px;
    color: #486eda;
}

.content-wrapper .text {
    margin-right: 30px;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: -7px;
}

.content-wrapper .count {
    font-size: 30px;
}

.spinner-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
}

.add-button-container {
    display: flex; 
    justify-content: right; 
    margin-right: 40px; 
    margin-top: 10px;
}

.add-button-round {
    display: flex; justify-content: center; align-items: center; height: 60px; width: 60px; border-radius: 50%; background-color: #0076D6;
}