<div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="100%" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Single Occupancy</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="singleOccupancyFormGroup" (ngSubmit)="basicProperty()">
                       <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Total Floors</mat-label>
                                <input type="number" class="example-right-align" matInput formControlName="totalFloors"
                                    placeholder="Total Floors">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Room Size</mat-label>
                                <mat-select formControlName="flatType">
                                    <mat-option>Choose Area</mat-option>
                                    <ng-container *ngFor="let item of flatTypeData">
                                        <mat-option [value]="item.flat_type">{{item.flat_type}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Dimension</mat-label>
                                <input matInput formControlName="dimension" placeholder="Dimension" value="" />
                            </mat-form-field>
                        </div>

                        <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Unit</mat-label>
                               
                                <input matInput [(ngModel)]="unit" value="Sqft" name="name" disabled placeholder="Sqft" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Choose The Floor</mat-label>
                                <mat-select formControlName="chooseFloor">
                                    <mat-option>Choose Floor</mat-option>
                                    <ng-container *ngFor="let item of floorValues">
                                        <mat-option [value]="item">{{item}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>No of Rooms</mat-label>
                                <input formControlName="noOfRooms" matInput type="number" class="example-right-align"
                                    placeholder="0" />
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-card-header>
                        <mat-card-subtitle>Facility Available</mat-card-subtitle>
                    </mat-card-header>
                    <div  class="row">   
                            <ng-container *ngFor="let item of roomFacilties">
                                <div class="col-md-4">
                                    
                                <mat-checkbox (change)="onChangeFacility($event)"  [value]="item.facility_id">{{item.facility_name}}</mat-checkbox>
                            </div>
                            </ng-container>
                    </div>
                 
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field fxFlex="100%">
                                <mat-toolbar>
                                    <input matInput [value]="'Select Images'" />
                                </mat-toolbar>
                                <input type="file" id="file" name="fileInput" formControlName="flatImage"
                                    accept="image/*" multiple (change)="onSelectFile($event)" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <mat-form-field fxFlex="100%">
                                <mat-toolbar>
                                    <input matInput [value]="'Select Video'" />
                                </mat-toolbar>
                                <input type="file" id="fileInput" name="fileInput" formControlName="flatVideo"
                                    accept="image/*" multiple />
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-card-header>
                        <mat-card-subtitle>Select Property Type Available</mat-card-subtitle>
                    </mat-card-header>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div  class="row">   
                            <ng-container *ngFor="let item of occupancyData">
                                <div class="col-md-4">
                       
                            <mat-checkbox (change)="onChangeOccupancy($event)"  [value]="item.category_name" >{{item.category_name}}</mat-checkbox>
                                </div>
                      
                    </ng-container> 
                        
                    </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

                            <mat-label class="radioLabel">Room Number</mat-label>
                            <section class="example-section">
                                <div class="row">
                                   
                                    <ng-container *ngFor="let item of roomValues">
                                    <div class="col-md-6">
                                        <mat-checkbox   (change)="onChangeRoomCountForm($event)"  class="example-margin" >
                                            {{item}}</mat-checkbox>
                                    </div>
                                </ng-container>
                                    
                                </div>
                            </section>
                        </div>
                    </div>
                    
                    <div *ngFor="let value of values; let i = index"> 
                        <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column wrap"
                        fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid"
                        fxLayoutGap.xs="0px grid">
                        <div fxFlex="95%" fxFlex.lg="95%" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="95%">
                            <mat-form-field appearance="outline" fxFlex="100%">
                                <mat-label>Total Floors</mat-label>
                                <input class="example-right-align" placeholder="Total Floors"  matInput type="text" formControlName="totalFloors" [(ngModel)]="value.value"  name="value{{i}}">
                             
                            </mat-form-field>
                            <a class="removeIcon" (click)="removevalue(i)">Remove</a>
                        </div>
                    </div>
                      </div>
                      <a class="addIcon" (click)="addvalue()">ADD</a>

                    <div fxLayoutAlign="center">
                        <button mat-button mat-raised-button color="primary">
                            Submit
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>