.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.selected .nav-link .page {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  /* display: none; */
}

.selected .nav-link {
  background-color: white;
  border-radius: 5px;
}

.selected .nav-link i {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  /* display: none; */
}
