<div fxFlex="100%" width="100%">
  <form [formGroup]="occupancyFormGroup" (ngSubmit)="onSubmit()" class="form" #documentEditForm="ngForm">
    <div style="display: flex; justify-content: space-around;">
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Total Floors</mat-label>
          <input type="number" class="example-right-align" matInput formControlName="totalFloors"
            placeholder="Total Floors" />
        </mat-form-field>
      </div>
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Room Size</mat-label>
          <mat-select formControlName="flatType">
            <mat-option>Choose Area</mat-option>
            <ng-container *ngFor="let item of flatTypeData">
              <mat-option [value]="item.flat_type">{{
                item.flat_type
                }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Dimension</mat-label>
          <input matInput formControlName="dimension" placeholder="Dimension" value="" />
        </mat-form-field>
      </div>

      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Unit</mat-label>

          <input matInput [(ngModel)]="unit" value="Sqft" name="name" disabled placeholder="Sqft" />
        </mat-form-field>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="90%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Choose The Floor</mat-label>
          <mat-select formControlName="chooseFloor">
            <mat-option>Choose Floor</mat-option>
            <ng-container *ngFor="let item of floorValues">
              <mat-option [value]="item">{{ item }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="90%">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>No of Rooms</mat-label>
          <input formControlName="noOfRooms" matInput type="number" class="example-right-align" placeholder="0" />
        </mat-form-field>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div fxFlex="95%" fxFlex.lg="95%" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="100%">
        <mat-label class="radioLabel" *ngIf="roomValues.length">Room Number</mat-label>
        <section>
          <div class="row">
            <ng-container *ngFor="let item of roomValues; let i = index">
              <div class="col-md-4">
                <mat-checkbox (change)="onChangeRoomCountForm($event)" class="example-margin">
                  <input style="height: 18px; width: 80px; margin-left: 10px" [value]="item"
                    (change)="onChangeRoomValues($event, i)" />
                </mat-checkbox>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div fxFlex="95%" fxFlex.lg="95%" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="100%">
        <p class="radioLabel" style="margin-bottom: 10px;">Facilities</p>
        <section>
          <div class="row">
            <ng-container *ngFor="let item of roomFacilties">
              <div class="col-md-4">
                <mat-checkbox (change)="onChangeFacility($event)" [value]="item.facility_id">{{ item.facility_name
                  }}</mat-checkbox>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
    <div class="occ-row" style="margin-bottom: 40px;">
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="100%">
        <p class="radioLabel">Select Images</p>
        <section>
          <input type="file" id="fileInput" name="fileInput" formControlName="flatVideo" accept="image/*" multiple />
        </section>
      </div>
      <div fxFlex="45%" fxFlex.lg="45%" fxFlex.md="45%" fxFlex.sm="45%" fxFlex.xs="100%">
        <p class="radioLabel">Select Videos</p>
        <section>
          <input type="file" id="fileInput" name="fileInput" formControlName="flatVideo" accept="image/*" multiple />
        </section>
      </div>
    </div>
    <div class="occ-row">
      
      <div
        fxFlex="45%"
        fxFlex.lg="45%"
        fxFlex.md="45%"
        fxFlex.sm="45%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Rent</mat-label>
          <input matInput formControlName="rent" placeholder="Rent" />
        </mat-form-field>
      </div>
      <div
        fxFlex="45%"
        fxFlex.lg="45%"
        fxFlex.md="45%"
        fxFlex.sm="45%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Select Duration</mat-label>
          <mat-select formControlName="duration">
            <ng-container>
              <mat-option [value]="'monthly'">Monthly</mat-option>
              <mat-option [value]="'oneday'">OneDay</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="occ-row">
      
      <div
        fxFlex="95%"
        fxFlex.lg="95%"
        fxFlex.md="95%"
        fxFlex.sm="95%"
        fxFlex.xs="100%"
      >
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Advance Payment</mat-label>
          <input
            matInput
            formControlName="advancePayment"
            placeholder="Advance Payment"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>