.button-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.button-wrapper .next {
  padding: 2px 30px;
  background: #3259ca;
  color: #fff;
}

.button-wrapper .back {
  padding: 2px 30px;
  background: #a5a5a5;
  color: #fff;
  margin-right: 20px;
}
