<div class="container-fluid">
  <div class="section-data">
    <div class="row">
      <div class="col-lg-9">
        <div class="d-flex align-items-center mb-3">
          <div class="heading-card">
            <a href="/settings" class="backward-link">
              <img src="assets/img/icons/r-arrow.svg" alt="" />
            </a>
            <h3>Add Occupancy Details</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="form-wrapper">
      <mat-card-header>
        <mat-card-subtitle>Property Type Available</mat-card-subtitle>
      </mat-card-header>
      <p class="error" *ngIf="!selectedAtleastOne()">Select atleast one.</p>
      <div class="occupancy-cont">
        <div
          class="button-container"
          *ngFor="let item of occupancyDetails | keyvalue; let i = index"
        >
          <span>Floor {{ item.key }}</span>
          <span
            style="align-self: center; padding-left: 15px"
            [ngClass]="item.value !== undefined ? 'delete' : 'add'"
            (click)="
              occupancyDetails[$any(item.key)] !== undefined
                ? openDialog(item.key)
                : openDialog(item.key)
            "
            >{{ item.value == undefined ? "Add" : "Edit" }}</span
          >
          <span
            *ngIf="item.value !== undefined"
            style="align-self: center; padding-left: 15px"
            class="delete"
            (click)="delete(item.key)"
            >Delete</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
