<div class="container-fluid">
    <div class="section-data bg-transparent">
        <div class="row">
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Total Properties</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_property }}</h2>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Flats Available</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_Flats }}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Flats Occupied</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_occupied_Flats }}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Total Active Students</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_Guest_Active }}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Total Rent Paid</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_Guest_Paid }}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-list">
                    <h4 class="item-list-title">Total Rent Pending</h4>
                    <h2 class="item-list-value">{{ dashboardData.Total_Guest_Rent_Pending }}</h2>
                </div>
            </div>
        </div>
        <h5 style="margin: 2% 2%;">Quick Access</h5>
        <div class="row key-feat link-but-row">
            <button class="link-but" mat-raised-button>
                <div class="heading-wrapper">
                    <i style="color: blue;" class="fas fa-building before-icon"></i>
                    <a class="text" style="color: black;" href="/property-main">Add Properties</a>
                    <i class="fas fa-greater-than"></i>
                </div>
                <div class="wrapper">                    
                    <h6 class="tag-line">Add New Property Details</h6>
                </div>
            </button>
            <button class="link-but" mat-raised-button>
                <div class="heading-wrapper">
                    <i style="color: red;" class="fas fa-users before-icon"></i>
                    <a class="text" style="color: black;" href="/property-user">Add Users</a>
                    <i class="fas fa-greater-than"></i>
                </div>
                <div class="wrapper">
                    <h6 class="tag-line">View a directory of all the Users </h6>
                </div>
            </button>
            <button class="link-but" mat-raised-button>
                <div class="heading-wrapper">                    
                    <i style="color: green;" class="fas fa-file-invoice-dollar before-icon"></i>
                    <a class="text" style="color: black;" href="/vendor-list">Post order</a>
                    <i class="fas fa-greater-than"></i>
                </div>
                <div class="wrapper">
                    <h6 class="tag-line">View a directory of all Pending Orders</h6>
                </div>
            </button>
        </div>
    </div>

</div>