<div class="container-fluid">
  <div class="section-data">
    <div class="row">
      <div class="col-lg-9">
        <div class="d-flex align-items-center mb-3">
          <div class="heading-card">
            <a href="/settings" class="backward-link">
              <img src="assets/img/icons/r-arrow.svg" alt="" />
            </a>
            <h3>View Orders</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!loader">
      <div class="col-lg-3 card-wrapper">
        <mat-card class="card">
          <mat-card-content
            ><span class="content-wrapper"
              ><mat-icon class="icon">shopping_cart</mat-icon>
              <span class="text">Total Orders :</span
              ><span class="count"> {{ orderList.length }} </span>
            </span></mat-card-content
          >
        </mat-card>
      </div>
    </div>

    <div class="row spinner-wrapper" *ngIf="loader">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <div class="table-wrap" *ngIf="!loader">

      <table style="color: black" class="table">
        <thead>
          <tr role="row">
            <th>Order</th>
            <th>Date</th>            
            <th>Company</th>
            <th>Vendor</th>
            <th>Total items</th>
            <th>Total Price</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let item of orderDistList
                | paginate : { itemsPerPage: 10, currentPage: p }
                | filter : searchText;
              let i = index
            "
          >
            <td  (click)="openDialog(item.order_id)"><a href="#" onclick="return false;">
              <span class="name-wrapper">{{ item.Order_code }}</span></a>
            </td>
            <td><a href="#" onclick="return false;">{{ item.Order_Date }}</a></td>
            <td><a href="#" onclick="return false;">{{ item.company_name }}</a></td>
            <td><a href="#" onclick="return false;">{{ item.vendor_name }}</a></td>
            <td><a href="#" onclick="return false;">{{ item.total_items }}</a></td>
            <td><a href="#" onclick="return false;">&#x20B9; {{ item.total_price }}</a></td>
            <td>
              <span
                [ngClass]="
                  item.Order_Status == 'Order Pending' ? 'pending' : 'normal'
                "
                >{{ item.Order_Status }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="orderList.length > 10">
        <div class="col-12">
          <pagination-controls
            (pageChange)="p = $event"
            class="float-right"
          ></pagination-controls>
        </div>
      </div>
    </div>

    <!-- <a
        href=""
        class="product-add-link"
        data-toggle="modal"
        data-target=".bd-example-modal-lg"
      >
        <img src="assets/img/icons/add.svg" alt="" />
        <div class="product-add-link-text">Add</div>
      </a> -->
  </div>
</div>
