<div mat-dialog-title class="dialog-title">
  <h3>Order Details</h3><hr>
  <button mat-button (click)="onNoClick()">
    <!-- <mat-icon>close</mat-icon> -->
  </button>
</div>
<div mat-dialog-content>
  <div class="dialog-wrapper">
    <div class="wrapper">
      <div>
        <h5 class="shop-name ord-det">{{data[0].company_name}}</h5>
         <h5 class="ord-det ord-code"><strong>Order Code :</strong> <span class="ord-val">{{data[0].Order_code}}</span></h5>
         <h5 class="ord-det ord-code"><strong>Order Date :</strong> <span class="ord-val">{{data[0].Order_Date}}</span></h5>
      </div>
    </div>
    <div class="wrapper">
      
        <table style="color: black" class="table">
          <thead>
            <tr>
              <th class="order-th">Product Name</th>
              <th class="order-th">Price Perunit</th>
              <th class="order-th">Quantity</th>
              <th class="order-th">Sub Total</th>
            </tr>
          </thead>
          <tr
            *ngFor="
              let item of data;
              let i = index
            "
          >
          <td>
            <span class="name-wrapper">{{ item.SKU_Name }}</span>
          </td>
          <td>{{ item.price_per_unit | number }}</td>
          <td>{{ item.quantity }}</td>
          <td style="float: right;">{{ item.price | number}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="float: right;">Net Total:{{ data[0].total_price | number }}</td>
        </tr>
          <tbody>
          </tbody>
        </table>
        
     </div>
     <button class="submit" (click)="onNoClick()">Confirm</button>
  </div>
</div>
