<div mat-dialog-title class="dialog-title">
  <h3>Order Details</h3>
  <button mat-button (click)="onNoClick()">
    <!-- <mat-icon>close</mat-icon> -->
  </button>
</div>
<div mat-dialog-content>
  <div class="dialog-wrapper">
    <div class="wrapper">
      <div>
         <h5>Company Name : {{data[0].company_name}}</h5>
         <h5>Order Code : {{data[0].Order_code}}</h5>
         <h5>Order Date : {{data[0].Order_Date}}</h5>
      </div>
    </div>
    <div class="wrapper">
      
        <table style="color: black" class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Price Perunit</th>
              <th>Quantity</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tr
            *ngFor="
              let item of data;
              let i = index
            "
          >
          <td >
            <span class="name-wrapper">{{ item.SKU_Name }}</span>
          </td>
          <td>{{ item.price_per_unit }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
        </tr>
          <tbody>
          </tbody>
        </table>
     </div>
    
  </div>
</div>
