.mat-form-field {
    width: 500px !important;
  }
  .form-wrapper {
    padding: 10px;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding: 20px; */
    flex: 1;
  }
  .form-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .mat-form-field-underline {
    display: none;
  }
  
  .mat-form-field-infix {
    display: none;
  }
  
  .textfield {
    border: 1px solid #ccc;
    height: 40px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
  }
  
  textarea {
    border: 1px solid #ccc;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
  }
  
  .input-wrapper {
    display: flex;
  }
  
  .label {
    white-space: pre;
    align-items: center;
    display: flex;
    min-width: 150px;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
  }
  
  .select {
    border: 1px solid #ccc;
    height: 40px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
    background-color: #fff;
  }
  
  .submit {
    align-self: center;
    width: 100px;
    padding: 5px 10px;
    margin-top: 30px;
    color: #fff;
    border-radius: 5px;
    background-color: #587ff1;
    border: none;
  }
  